<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
          <a class="navbar-brand" href="#">Redis App</a>
          <a class="navbar-brand" href="/event" class="">Events</a>
      </nav>
      <div class="container row">
        <div class="col-3 md-3 sm-3"></div>
        <div class="col-6 md-6 sm-6">
        <h1><%= title %></h1>
        <form method="POST" action="/task/add">
          <label>Add Task </label>
          <input type="text" name="addTask"  class="form-control" placeholder="Enter a task to add to list">
          <br><input type="submit" class="btn btn-dark" value="Add">  
        </form>
        <br><br><br>
        <form method="POST"  action="/task/delete">
            <% tasks.forEach(function(task){ %>
              <label>
                <input type="checkbox" name="deleteTasks" class="del" value="<%= task %>">
                  <span><%= task %></span>
              </label><br>
            
            <%});%>
          <input type="submit" class="btn btn-dark" value="Delete">
        </form>
      </div>
      <div class="col-3 md-3 sm-3"></div>
    </div>
  </body>
</html>
